<div class="footer-nav">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Help/FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Request for Documentation</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Price Drop</a></li>
            <li class="nav-item"><a class="nav-link" href="#">SDS Data</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Request Custom Flavor</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Create an Account/Wholesale Access</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Cancelling an Order and Return Policy</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Flavoring Coffee</a></li>
        </ul>
    </div>
</div>