<!-- Secondary Nav with Logo -->
<nav id="primary-nav" class="navbar navbar-expand-lg navbar-dark bg-primary py-lg-0">
    <div class="container pe-lg-0">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x, assets/img/logo@3x.png 3x"
                alt="Apex Flavors" width="252" height="26" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLogoNav"
            aria-controls="navbarLogoNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLogoNav">
            <ul class="navbar-nav mb-2 mb-lg-0 position-relative w-100 justify-content-lg-end">
                <li class="nav-item dropdown dropdown-mega">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">All Products</a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="mega-links">
                                        <li><a href="#">Alcoholic Beverage Flavors</a></li>

                                        <li><a href="#">Non-Alcoholic Beverage Flavors</a></li>

                                        <li><a href="#">Pet Care Flavors</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="mega-links">
                                        <li><a href="#">Baking - Other Food Application Flavors</a></li>

                                        <li><a href="#">Vanilla Products</a></li>

                                        <li><a href="#">Ice Cream Flavors</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="mega-links">
                                        <li><a href="#">Clean Label – Propylene Glycol Free & Non GMO Extracts &
                                                Flavors</a></li>

                                        <li><a href="#">Botanical Extracts And Natural Antioxidants</a></li>

                                        <li><a href="#">Tea Extracts</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="mega-links">
                                        <li><a href="#">Oil Soluble Flavors</a></li>

                                        <li><a href="#">Varietal Chili Extracts And Flavors</a></li>

                                        <li><a href="#">New Extracts And Flavors</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-mega">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Featured Products
                    </a>
                    <div class="dropdown-menu">
                        <div class="mega-content">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-lg pt-3">
                                        <div class="dropdown-heading">Oil Soluble Flavors</div>
                                        <p>We formulate these oil soluble flavors specifically for use in CBD tinctures,
                                            edibles and other applications requiring high impact oil soluble flavors.
                                            They are compatible with most fixed oils including fractionated coconut oil
                                            (MCT or medium chain triglycerides). We can also custom formulate flavors to
                                            meet specific strength, solubility, masking and other criteria.</p>
                                    </div>
                                    <div class="col-lg">
                                        <div class="row flex-row-reverse">
                                            <div class="col-lg-5">
                                                <div class="featured-pro-img">
                                                    <img src="assets/img/featured-product.jpg" alt="product" width="104"
                                                        height="188" />
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="featured-product-desc">
                                                    <div class="dd-heading2">Featured Product</div>
                                                    <p><strong>Pina Colada Type, Natural Flavor Blend (Oil
                                                            Soluble)</strong></p>
                                                    <p>Pina Colada Type, Natural Flavor Blend (Oil Soluble) was
                                                        developed was developed for use in candies and confectionery and
                                                        other products requiring oil soluble flavors. We recommend a
                                                        starting use level of 0.25% to 0.50%.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>