// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.34px;
  color: #000;
}

#top-nav {
  background-color: #e1e3e0;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: 0.28px;

  a {
    color: $primary;
    padding-left: 14px;
    padding-right: 14px;
  }

  .searchbox {
    .input-search {
      padding-right: 24px;
    }

    .btn-search {
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: 14px;
    }
  }

  .form-control {
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.28px;
    color: $primary;
    padding: 3.5px 4.5px 2.5px 6px;
    border: solid 0.3px #303088;
    background-color: #efeff0;

    &::placeholder {
      color: $primary;
    }
  }

  .cart-icon {
    position: relative;
  }

  .cart-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

}

#primary-nav {
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.34px;

  @include media-breakpoint-up(lg) {
    .nav-link {
      padding-top: 24.5px;
      padding-bottom: 24.5px;
    }

    .nav-item {
      &.dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
    }

    .has-submenu-right {
      left: auto;
      right: 0;
    }

  }
}

.dropdown-mega {
  position: static;
  color: #fff;

  .dropdown-menu {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
  }

  .dropdown-heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
  }

  p {
    margin-bottom: 10px;
  }

  .dd-heading2 {
    font-weight: bold;
  }

  .featured-product-desc {
    font-size: 11px;
  }

  .featured-pro-img {
    >img {
      border: 1px solid #fff;
    }
  }
}

.mega-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 1.25;

  li {
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: #fff;

      &:hover,
      &.active {
        color: rgba(#fff, 0.75);
      }
    }
  }
}

.cart-dropdown {
  .dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
    width: calc(100% - 14px);
    background-color: #fff;
    border: 1px solid #000;
    color: $primary;
    font-size: 14px;
  }
}

.home-hero {
  position: relative;
  background: $primary;
  background-size: cover;
  padding: 250px 0;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding: 50px 0 150px;
  }

  .hh-content {
    position: relative;
    max-width: 786px;
    margin: 0 auto;
  }

  .hh-heading {
    background: rgba(#000, 0.65);
    padding: 25px 60px;
    color: #fff;
    text-align: center;

    @include media-breakpoint-down(md) {
      padding: 15px;
    }

    >* {
      margin-bottom: 0;
      font-size: 34px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0.67px;

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }
    }
  }

  .hh-cta {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    @include media-breakpoint-down(md) {
      display: block;
      padding-top: 0;
    }
  }

  .hero-cta {
    display: block;
    border: solid 1.5px #fff;
    background-color: $primary;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 56px;
    max-width: 275px;
    position: relative;
    padding: 10px 32px;

    >span {
      position: absolute;
      right: -16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

}

img {
  max-width: 100%;
  height: auto;
}

.apx-flavors {
  margin-top: -100px;
  padding-bottom: 24px;
  background-color: #fff;
  background-size: cover;
}

.apx-box {
  margin-bottom: 32px;
  position: relative;
  padding-bottom: 69.44%;
  height: 0;
  overflow: hidden;
  display: block;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 22.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.45px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-image: linear-gradient(to top, rgba(#000, 0.5), rgba(#fff, 0));
    height: 75%;
    display: flex;
    flex-direction: column;

    >span {
      padding: 11px 10px;
      margin-top: auto;
    }
  }

  &:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#0899fe, 0.7);
  }

  &:hover {
    &:after {
      content: '';
    }
  }

}

.apx-col-lg-4 {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  padding-left: 16px;
  padding-right: 16px;
}

.apx-mission {
  background-color: $primary;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: 0.3px;
  color: #fff;
  position: relative;

  @include media-breakpoint-up(md) {
    &:before {
      content: '';
      background: url(../img/i-stock-485315682@2x.png) no-repeat;
      background-size: cover;
      background-position: center bottom;
      position: absolute;
      top: 0;
      left: 0;
      width: 33.33333333%;
      height: 100%;
    }
  }
}

.apx-mission-content {
  padding: 28px 0 14px 0;

  h2 {
    text-align: center;
    font-size: 37.5px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.75px;
  }
}

@include media-breakpoint-down(md) {
  .apx-mission-img {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 15px;

    >img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.color-parrot {
  color: #dae48b;
}

.apx-icons {
  background: #fff url(../img/wood-bg.jpg) no-repeat bottom center;
  background-size: cover;

  .apx-icons-inner {
    background-color: rgba(#fff, 0.45);
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .container {
    max-width: 760px;
  }

  .apx-icon {
    opacity: 0.5;
  }
}

.apx-carousel {
  background: #ffb032;
  background-size: cover;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: 0.34px;
  text-align: center;

  .carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .apx-item {
    padding-top: 32px;
    padding-bottom: 44px;
    min-height: 269px;
  }

  h3 {
    font-size: 37.5px;
    line-height: 1.16;
    letter-spacing: -0.75px;
    margin-bottom: 24px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
    width: inherit;
  }

  .apx-item {
    max-width: calc(100% - 150px);

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-arrows {
    @extend .container;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .carousel-control-next,
    .carousel-control-prev {
      position: unset;
      width: auto;
    }
  }

  .carousel-indicators {
    margin-bottom: 14.5px;

    [data-bs-target] {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: transparent;
      opacity: 1;

      &.active {
        background: #fff;
      }
    }
  }
}

.footer-banner {
  background-color: #fff;
  min-height: 265px;
  text-align: center;
  color: #fff;

  .parallax-content {
    padding: 120px 0;
  }

  h4 {
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.96;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 0;
  }
}

.footer-nav {
  background-color: #e1e3e0;
  padding: 10px 0;
  color: #303088;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.28px;
  font-weight: 600;

  a {
    color: #303088;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer-copy {
  color: #fff;
  background-color: #303088;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.28px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 1px;

  .small {
    font-size: 11.5px;
    letter-spacing: 0.23px;
  }
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;
}

.parallax-content {
  position: relative;
  z-index: 1;
}

#liveToast {
  background-color: #0899fe;
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  position: relative;
  max-width: 250px;
  top: 156px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.28px;
  text-align: left;

  &::before {
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #fff;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -16px;
    transform: rotate(90deg) skew(-25deg);
    z-index: -1;
  }

  &::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 22px solid #0899fe;
    display: block;
    position: absolute;
    right: 1.5px;
    bottom: -14.5px;
    transform: rotate(90deg) skew(-25deg);
    content: "";
  }

  .btn-close {
    border: 1.5px solid currentColor;
    width: 13.5px;
    height: 13.5px;
    padding: 0;
    border-radius: 0;
    background-size: 50%;
    position: absolute;
    left: 10px;
    top: 0.85rem;
  }

  .toast-body {
    padding-left: 34px;
  }

}

#cartOffcanvas {
  .offcanvas-header {
    border-bottom: 1px solid #ccc;
  }

  .product-title {
    font-size: 18px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 0.25rem;
  }

  .product-sku {
    font-weight: 600;
  }

  .product-quantity,
  .product-price {
    font-size: 16px;
    font-weight: bold;
  }

  .button {
    max-width: 200px;
  }

  .btn-close {
    width: 0.25em;
    height: 0.25em;
  }
}

.button {
  display: inline-block;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: .36px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 14px 30px;
  position: relative;
  border: 1px solid #fff;
  width: calc(100% - 36px);
  transition: .21s ease background-color;

  &:after {
    content: '';
    background: url(../img/btn-icon.svg) no-repeat right center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    left: -18px;
  }

  &:hover {
    $btnHoverBg: darken($primary, 10%);
    background-color: $btnHoverBg;
  }
}

#pricingModal {
  font-size: 14px;

  .modal-content {
    border-radius: 0;
    border-color: #000;
    color: $primary;
  }

  select {
    color: $primary;
    padding: 3px 0;
    border-radius: 0;
  }

  .btn {
    font-size: 14px;
  }
}

/* 404 page CSS */
.page-header-404 {
  padding: 21px 0 20px 0;
  background: #e1e3e0;
  text-align: center;
}

.page-content-404 {
  text-align: center;
  padding-top: 82px;
  padding-bottom: 40px;
  line-height: 1.55;
  letter-spacing: 0.31px;
}

.page-content-404 .inner {
  max-width: 925px;

  h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: normal;
    color: #2f3382;
    margin-bottom: 60px;
  }

  h3 {
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 0.42px;
    color: #2f3382;
  }
}

/* #404 page CSS */

/* Login Page */
.breads {
  background-color: #e1e3e0;
}

.breadcrumb {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.3px;
  text-align: left;
  color: #828282;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.login-wrapper {

  legend,
  h3 {
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: 0.34px;
    color: #000;
  }

  .form-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 2.18;
    letter-spacing: 0.3px;
    margin-bottom: 0;
  }

  .form-control {
    background-color: $secondary;
    border-color: $secondary;
    border-radius: 0;
    padding: 0 10px;
    font-size: 15px;
  }

  .btn-primary {
    font-size: 15px;
    font-weight: 600;
    line-height: 2.18;
    letter-spacing: 0.3px;
    border-radius: 0;
    padding: 0 16px 0 26px;
    margin-left: 16px;
    height: 32px;
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      left: -16px;
      top: -1px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      content: '';
      border: 1.5px solid #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32px' height='32px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.83 48.83'%3E%3Ccircle cx='24.42' cy='24.42' r='24.42' transform='translate(-9.04 32.94) rotate(-59.3)' style='fill:%232f3382;'%3E%3C/circle%3E%3Cpolygon points='35.55 24.42 27.46 31.31 19.38 38.2 19.38 30.76 26.82 24.42 19.38 18.06 19.38 10.63 27.46 17.52 35.55 24.42' style='fill:%23FFFFFF;'%3E%3C/polygon%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}

.createAccount {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.34px;
  text-align: left;
  color: #000;
  border: 1px solid $primary;
  padding: 20px 20px 30px 20px;

  ul {
    margin-bottom: 30px;
  }
}

/* #Login Page */

// Category Page
.page-hero {
  .page-hero-bg {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 25%;

    >img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.category-page {
  padding-top: 40px;
  padding-bottom: 150px;
}

.cat-product {
  padding-bottom: 60px;
}

.heading-1 {
  color: $primary;
  font-size: 35px;
  line-height: 1.14;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.heading-2 {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 0.46px;
  color: #2f3382;
}

.cat-links {
  color: #0899fe;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 0.3px;
  flex-wrap: wrap;
  display: flex;

  a {
    padding-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    +a {
      margin-left: 30px;
    }

    &:hover {
      color: darken(#0899fe, 10%);
    }
  }
}

// #Category Page

// product
.page-py {
  padding-top: 40px;
  padding-bottom: 60px;
}

.product-loop {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 0;
  font-size: 17px;
  line-height: 29.5px;
  letter-spacing: 0.34px;
  color: #000;
  width: 100%;

  thead th {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
  }

  tbody td {
    padding: 5.5px 15px;
  }

  @include media-breakpoint-up(md) {

    tbody tr>td:first-child,
    thead tr>th:first-child {
      padding-left: 0;
    }

    tbody tr>td:last-child,
    thead tr>th:last-child {
      padding-right: 0;
      text-align: right;
    }
  }

  .input-quantity {
    background-color: #efeff0;
    color: #000;
    border: 0;
    outline: 0;
    width: 68px;
    height: 24px;
    padding: 4px;
  }
}

.btn-cart {
  background-image: url(../img/add-to-cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: auto 16px;
  min-width: 101px;
  padding-left: 32px;
  font-size: 13px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-default {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding-left: 32px;
  border-radius: 0;

  &:before {
    position: absolute;
    left: -16px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    content: "";
    border: 1.5px solid #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32px' height='32px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.83 48.83'%3E%3Ccircle cx='24.42' cy='24.42' r='24.42' transform='translate(-9.04 32.94) rotate(-59.3)' style='fill:%232f3382;'%3E%3C/circle%3E%3Cpolygon points='35.55 24.42 27.46 31.31 19.38 38.2 19.38 30.76 26.82 24.42 19.38 18.06 19.38 10.63 27.46 17.52 35.55 24.42' style='fill:%23FFFFFF;'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

@include media-breakpoint-down(md) {
  .product-loop {
    thead {
      display: none;
    }

    tbody td::before {
      content: attr(data-label) ": ";
      font-weight: bold;
      flex: 1;
      padding-right: 10px;
    }

    tbody td {
      display: flex;
      /* Use Flexbox */
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-top: 1px solid #dee2e6;
      line-height: 1.25;
      font-style: 15px;

      &:nth-child(2) {
        display: block;
      }

      &:last-child:before {
        content: none;
      }
    }

    tbody tr {
      display: block;
      margin-bottom: 0.625rem;
    }

    .btn-cart {
      margin: 0 auto;
    }

  }
}

// #product

// Flavors Page
.flavors-page {
  line-height: 26.5px;
  letter-spacing: 0.34px;

  ul {
    padding-left: 1em;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.new {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #0899fe;
  font-weight: 900;
}

// #Flavors Page

// Sub Category
.heading-3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26.5px;
  letter-spacing: 0.48px
}

.subcategory-wrap {
  padding-bottom: 50px;

  ul {
    margin-bottom: 10px;
  }

  .click-to-more {
    font-weight: bold;
    color: #0899fe;
    letter-spacing: 0.34px;
    margin-left: 1em;

    &:hover {
      color: darken(#0899fe, 20%);
    }
  }
}

// #Sub Category

.medium-label {
  display: inline-block;
  margin-left: 10px;
  background: transparent url(../img/medium.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 24px;
}

.mild-label {
  display: inline-block;
  margin-left: 10px;
  background: transparent url(../img/mild.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 24px;
}

.apx-note {
  font-weight: 600;
  color: #0899fe;
  line-height: 22px;
  letter-spacing: 0.34px;
}

// Shopping Cart Page
.apx-cart-page {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 23px;
  color: #000;
  letter-spacing: 0.3px;
}

.cart-table, .apx-inner-table {
  padding-top: 40px;

  .table> :not(caption)>*>* {
    border-color: rgba(0, 0, 0, 0.3);
  }

  .table tr>th {
    text-align: center;
    border-bottom: 0;
  }

  .table tbody>tr>td {
    background-color: #e7f2fe;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
  }

  .table tr>th:first-child,
  .table tr>td:first-child {
    text-align: left;
  }

  .table tfoot>tr:last-child>td {
    border-bottom: 0;
    padding-top: 15px;
  }

  .table tfoot>tr {
    font-weight: bold;
  }

  .cart-qty {
    max-width: 42px;
    height: 24px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #858585;
    background-color: #fff;
    font-size: 14px;
  }
}

.apx-shipping-info {
  font-size: 15px;
  line-height: 23px;
}


.apx-arrow {
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.3px;
  border-radius: 0;
  padding: 0 16px 0 26px;
  margin-left: 16px;
  height: 34px;
  text-align: center;
  position: relative;
  display: inline-flex;
  align-items: center;

  &::before {
    position: absolute;
    left: -16px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    content: '';
    border: 1.5px solid #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32px' height='32px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.83 48.83'%3E%3Ccircle cx='24.42' cy='24.42' r='24.42' transform='translate(-9.04 32.94) rotate(-59.3)' style='fill:%232f3382;'%3E%3C/circle%3E%3Cpolygon points='35.55 24.42 27.46 31.31 19.38 38.2 19.38 30.76 26.82 24.42 19.38 18.06 19.38 10.63 27.46 17.52 35.55 24.42' style='fill:%23FFFFFF;'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.apx-shipping-estimate {
  border-top: 1px solid rgba(0,0,0, 0.3);
  padding-top: 24px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 22px;
}

.apx-shipAmount {
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .cart-table { 
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0;
  }
}

// Account Page
.apx-order-page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.f17 {
  font-size: 17px;
  line-height: 32px;
}

.apx-inner-table .table tr>th {
  border-bottom: 1px solid rgba(#000, 0.3);
}

.apx-inner-table .table tbody>tr>td,
.apx-inner-table .table thead>tr>th {
  color: $primary;
  text-align: left;
  vertical-align: top;
}

.apx-inner-table .table tbody>tr>td {
  background-color: #fff;
}