<section class="apx-carousel">
    <div class="apx-carousel-inner">
        <div id="apxCarousel" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators"></div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('assets/img/slides/slide-1.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Rum Jamaican Dark Type</h3>
                            <p>Rum Jamaican Dark Type, Natural flavor blend was developed as a match for the most
                                popular
                                brand of dark rum from Jamaica. This flavor is approximately 5 times stronger than the
                                actual rum.
                                It can be used in a wide range of alcoholic beverages including beer, cider, hard
                                seltzer,
                                RTD cocktails to impart a premium dark rum flavor.
                            </p>
                            <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-2.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Rum Barbados Gold</h3>
                            <p>Rum Barbados Gold Type, Natural flavor blend was developed as a match for the most
                                popular
                                brand of gold rum from Barbados. This flavor is approximately 5 times stronger than the
                                actual rum.
                                It can be used in a wide range of alcoholic beverages including beer, cider, hard
                                seltzer,
                                RTD cocktails to impart Premium rom flavor.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-3.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Lemon Juice Type Extract, Natural</h3>
                            <p>Lemon Juice Type Extract, Natural was developed for use in a wide range of alcoholic
                                beverages
                                including beer, cider, seltzer, spirits and wine that require a flavor reminiscent of
                                fresh squeezed.
                                Lemon juice. In most applications we recommend a starting use level of 0.10% to 0.30%
                                and adjust
                                to desired impact is achieved. In high proof spirits start at 0.75%.
                                This flavor is TTB approved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-4.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Banana Cream Pie</h3>
                            <p>Banana Cream Pie Extract, Natural &amp; Artificial can be used in a wide range of
                                alcoholic beverages
                                including beer, cider, wine and high proof spirits. We recommend a starting use level of
                                0.20%
                                in beer and cider. In high proof spirits start at 0.50% and adjust to desired impact is
                                achieved.
                                This flavor is TTB approved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-5.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Red Tropical Fruit Punch</h3>
                            <p>Red Tropical Fruit Punch Type, Natural Flavor Blend is a blend of orange, passion fruit
                                pineapple
                                and other tropical fruit flavors. This flavor can be used in a wide range of alcoholic
                                beverages
                                including hard or spiked seltzer, beer, cider and high proof spirits.
                                This flavor is TTB aboroved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-6.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Bellini</h3>
                            <p>Bellini Type, Natural Flavor blend was developed for use in hard or spiked seltzer.
                                This popular cocktail is a blend of peach puree and prosecco. In most alcoholic
                                beverages,
                                we recommend a starting use level of 0.20% and adjust to desired impact is achieved.
                                In high proof spirits start at 0.75%. This flavor is TTB approved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-7.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Dill Pickle</h3>
                            <p>Dill Pickle Type Flavor, Natural was developed for use in alcoholic beverages including
                                beer,
                                cider, hard seltzer and high proof spirits. In most applications we recommend a starting
                                use level
                                of 0.20% and adiust to desired impact is achieved. In high proof spirits start at 0.50%.
                                This extract is TTB approved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-8.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Citrus Extract Punch</h3>
                            <p>Citrus Extract Punch Type, Natural is a blend of orange, lemon, tangerine, grapefruit
                                and
                                lime extracts.
                                It was developed for use in alcoholic beverages, including beer, cider, wine and
                                hard
                                seltzer.
                                We recommend a starting use level of 0.20% in most applications and adjust to
                                desired
                                impact is achieved. This extract is TTB approved.</p>
                                <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('assets/img/slides/slide-9.jpg');"
                    data-bs-interval="10000">
                    <div class="container">
                        <div class="apx-item">
                            <h3>Wild Huckleberry Lemonade</h3>
                            <p>Another new flavor for hard and spiked seltzer!</p>
                            <a href="#" class="stretched-link"><span class="visually-hidden">Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-arrows d-md-flex d-none">
                <button class="carousel-control-prev" type="button" data-bs-target="#apxCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#apxCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>    
            <div class="carousel-indicators">
                <!-- Indicators will be added here dynamically -->
            </div>

        </div>
</section>