<section class="apx-flavors" data-parallax="scroll" data-speed="0.7" data-image-src="/assets/img/anne-nygard-aXQjBSH_f24-unsplash.jpg">
    <div class="container">
        <div class="row">
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-475273684.png" alt="Alcoholic Beverage Flavors" />
                    <h2><span>Alcoholic <br />Beverage Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1259734848.png" alt="Non Alcoholic Beverage Flavors" />
                    <h2><span>Non Alcoholic <br />Beverage Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1089906854.png" alt="Pet Care Flavors" />
                    <h2><span>Pet Care <br />Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1069953616.png" alt="Baking - Other Food Application Flavors" />
                    <h2><span>Baking – Other <br />Food Application Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1095089674.png" alt="Vanila Products" />
                    <h2><span>Vanila <br />Products</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1311034800.png" alt="Ice Cream Flavors" />
                    <h2><span>Ice Cream <br />Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1399022748.png" alt="Clean Label – Propylene Glycol Free & Non GMO Extracts & Flavors" />
                    <h2><span>Clean Label – Propylene Glycol Free & Non GMO Extracts & Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1125848728.png" alt="Botanical Extracts And Natural Antioxidants" />
                    <h2><span>Botanical Extracts And <br />Natural Antioxidants</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-613240418.png" alt="Tea Extracts" />
                    <h2><span>Tea Extracts</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1204865493.png" alt="Oil Soluble Flavors" />
                    <h2><span>Oil Soluble <br />Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-1193472728.png" alt="Varietal Chili Extracts And Flavors" />
                    <h2><span>Varietal Chili Extracts <br />And Flavors</span></h2>
                </a>
            </div>
            <div class="apx-col-lg-4">
                <a href="#" class="apx-box">
                    <img src="assets/img/i-stock-465144759.png" alt="New Extracts And Flavors" />
                    <h2><span>New Extracts <br />And Flavors</span></h2>
                </a>
            </div>
        </div>
    </div>
</section>