<section class="home-hero">
        <div data-vbg="https://vimeo.com/857622045"></div>
        <div class="container">
            <div class="hh-content">
                <div class="hh-heading">
                    <h1>Where art and science of superior flavors make <em>your</em> products taste better.</h1>
                </div>
                <div class="hh-cta">
                    <a class="hero-cta" href="#">
                        Wholesale Customers Enter Here
                        <span><svg width="32px" height="32px" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 48.83 48.83">
                                <circle cx="24.42" cy="24.42" r="24.42" transform="translate(-9.04 32.94) rotate(-59.3)"
                                    style="fill:#e1e3e1;" />
                                <polygon
                                    points="35.55 24.42 27.46 31.31 19.38 38.2 19.38 30.76 26.82 24.42 19.38 18.06 19.38 10.63 27.46 17.52 35.55 24.42"
                                    style="fill:#303087;" />
                            </svg></span>
                    </a>
                    <a class="hero-cta" href="#">Retail Customers Enter Here
                        <span><svg width="32px" height="32px" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 48.83 48.83">
                                <circle cx="24.42" cy="24.42" r="24.42" transform="translate(-9.04 32.94) rotate(-59.3)"
                                    style="fill:#e1e3e1;" />
                                <polygon
                                    points="35.55 24.42 27.46 31.31 19.38 38.2 19.38 30.76 26.82 24.42 19.38 18.06 19.38 10.63 27.46 17.52 35.55 24.42"
                                    style="fill:#303087;" />
                            </svg></span>
                    </a>
                </div>
            </div>
        </div>
</section>