<section class="apx-mission">
    <div class="container">
        <div class="row">
            <div class="col-12 d-md-none">
                <div class="apx-mission-img">
                    <img src="assets/img/i-stock-485315682@2x.png" alt="mission image" />
                </div>
            </div>
            <div class="offset-md-4 col-md-8">
                <div class="apx-mission-content">
                    <h2>Our Mission</h2>

                    <p>Our mission is to be the supplier of choice to small and medium-sized food and beverage
                        companies. No matter the size of your order, you will receive the same courteous customer
                        service and prompt shipment. We process and ship 90.00% of our orders within 48 hours of their
                        being placed. Home brewers, bakers, cake decorators, and other hobbyists have discovered that
                        using our flavors, which are formulated for professionals, can help bring out the very best in
                        their projects. We offer all of our products in small sizes to make them more accessible to the
                        hobbyist.</p>

                    <p>The Apex product line includes citrus, berry, spice and herb, nut, orchard fruit, floral,
                        tropical, melon, savory, and sweet flavors as well as vanilla and tea extracts, natural
                        antioxidants and essential oils.</p>

                    <p class="color-parrot">Our products are not sold for use in e-cigarettes or other similar electronic smoking devices. We
                        do not supply e-liquid manufacturers or home hobbyists making e-liquids.</p>
                </div>
            </div>
        </div>
    </div>
</section>